In [1]:
import numpy as np
import numpy
import pandas as pd
from pandas import read_csv
import warnings
warnings.filterwarnings('ignore')

In [2]:
# load data
SP20 = read_csv('SP20_final.csv', delimiter=",", low_memory=False, keep_default_na=False)

In [3]:
SP21 = read_csv('SP21_final.csv', delimiter=",", low_memory=False, keep_default_na=False)

In [4]:
SP20

,month,year,fever,cough,throat,dyspnoea,respdesc,saturation,diarrhoea,vomit,abdpain,fatigue,lossm,losst
0,1,2020,1,1,0,0,0,0,1,0,0,0,0,0
1,1,2020,1,1,1,1,1,1,0,0,0,0,0,0
2,1,2020,1,1,0,1,1,1,0,0,0,0,0,0
3,1,2020,1,1,0,0,1,0,0,0,0,0,0,0
4,1,2020,1,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170483,12,2020,0,0,0,0,0,0,0,0,0,0,0,0
170484,12,2020,1,1,1,0,0,0,0,0,0,0,0,0
170485,12,2020,0,0,0,0,0,1,0,0,0,1,0,0
170486,12,2020,1,1,0,1,0,1,0,0,0,1,1,1
170487,12,2020,0,1,0,1,1,1,0,0,0,0,0,0

In [5]:
SP21

,month,year,fever,cough,throat,dyspnoea,respdesc,saturation,diarrhoea,vomit,abdpain,fatigue,lossm,losst
0,1,2021,0,1,0,1,1,0,0,0,0,1,0,0
1,1,2021,1,1,1,1,1,1,0,0,0,0,0,0
2,1,2021,1,1,0,1,1,1,0,0,0,1,0,0
3,1,2021,1,1,1,0,0,1,0,0,0,0,0,0
4,1,2021,1,1,0,0,0,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213440,7,2023,1,1,0,1,1,1,0,0,0,1,0,0
213441,7,2023,1,1,0,1,1,1,0,0,0,0,0,0
213442,8,2023,0,1,0,1,1,1,0,0,0,1,0,0
213443,8,2023,0,0,0,1,1,1,0,0,0,0,0,0
213444,8,2023,1,0,0,1,1,1,0,0,0,0,0,0

In [6]:
#MM20

In [7]:
#
mes01 = SP20[SP20['month'] == 1]
#
mes01_ano20 = mes01[mes01['year'] == 2020]
#
mes01_ano20.to_csv("mes01_ano20.csv")

In [8]:
#
mes02 = SP20[SP20['month'] == 2]
#
mes02_ano20 = mes02[mes02['year'] == 2020]
#
mes02_ano20.to_csv("mes02_ano20.csv")

In [9]:
#
mes03 = SP20[SP20['month'] == 3]
#
mes03_ano20 = mes03[mes03['year'] == 2020]
#
mes03_ano20.to_csv("mes03_ano20.csv")

In [10]:
#
mes04 = SP20[SP20['month'] == 4]
#
mes04_ano20 = mes04[mes04['year'] == 2020]
#
mes04_ano20.to_csv("mes04_ano20.csv")

In [11]:
#
mes05 = SP20[SP20['month'] == 5]
#
mes05_ano20 = mes05[mes05['year'] == 2020]
#
mes05_ano20.to_csv("mes05_ano20.csv")

In [12]:
#mes05_ano20['losst'].value_counts()

In [13]:
#
mes06 = SP20[SP20['month'] == 6]
#
mes06_ano20 = mes06[mes06['year'] == 2020]
#
mes06_ano20.to_csv("mes06_ano20.csv")

In [14]:
#
mes07 = SP20[SP20['month'] == 7]
#
mes07_ano20 = mes07[mes07['year'] == 2020]
#
mes07_ano20.to_csv("mes07_ano20.csv")

In [15]:
#
mes07_ano20

,month,year,fever,cough,throat,dyspnoea,respdesc,saturation,diarrhoea,vomit,abdpain,fatigue,lossm,losst
74394,7,2020,1,1,0,1,1,1,0,0,0,0,0,0
74395,7,2020,1,1,0,1,1,1,1,0,0,0,0,0
74396,7,2020,0,1,1,1,1,1,0,0,0,0,0,0
74397,7,2020,1,1,0,0,0,0,1,0,0,0,0,0
74398,7,2020,1,1,0,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95835,7,2020,0,1,1,1,0,0,0,0,0,1,0,0
95836,7,2020,0,0,0,0,0,0,0,0,0,0,0,0
95837,7,2020,0,1,0,1,1,1,0,1,0,1,1,0
95838,7,2020,1,0,0,1,1,1,0,0,0,0,0,0
95839,7,2020,1,1,0,1,1,1,0,0,0,1,0,0

In [16]:
#
mes08 = SP20[SP20['month'] == 8]
#
mes08_ano20 = mes08[mes08['year'] == 2020]
#
mes08_ano20.to_csv("mes08_ano20.csv")

In [17]:
#
mes09 = SP20[SP20['month'] == 9]
#
mes09_ano20 = mes09[mes09['year'] == 2020]
#
mes09_ano20.to_csv("mes09_ano20.csv")

In [18]:
#
mes10 = SP20[SP20['month'] == 10]
#
mes10_ano20 = mes10[mes10['year'] == 2020]
#
mes10_ano20.to_csv("mes10_ano20.csv")

In [19]:
#
mes11 = SP20[SP20['month'] == 11]
#
mes11_ano20 = mes11[mes11['year'] == 2020]
#
mes11_ano20.to_csv("mes11_ano20.csv")

In [20]:
#
mes12 = SP20[SP20['month'] == 12]
#
mes12_ano20 = mes12[mes12['year'] == 2020]
#
mes12_ano20.to_csv("mes12_ano20.csv")

In [21]:
#MM21

In [22]:
#
mes01 = SP21[SP21['month'] == 1]
#
mes01_ano21 = mes01[mes01['year'] == 2021]
#
mes01_ano21.to_csv("mes01_ano21.csv")

In [23]:
#
mes02 = SP21[SP21['month'] == 2]
#
mes02_ano21 = mes02[mes02['year'] == 2021]
#
mes02_ano21.to_csv("mes02_ano21.csv")

In [24]:
#
mes03 = SP21[SP21['month'] == 3]
#
mes03_ano21 = mes03[mes03['year'] == 2021]
#
mes03_ano21.to_csv("mes03_ano21.csv")

In [25]:
mes03_ano21

,month,year,fever,cough,throat,dyspnoea,respdesc,saturation,diarrhoea,vomit,abdpain,fatigue,lossm,losst
34090,3,2021,1,1,1,1,1,0,0,0,0,0,1,1
34091,3,2021,0,0,0,1,1,1,0,0,0,0,0,0
34092,3,2021,1,1,0,1,1,1,0,0,0,1,0,0
34093,3,2021,1,1,1,0,1,0,0,0,1,0,0,0
34094,3,2021,1,1,0,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70522,3,2021,0,0,0,1,0,0,0,0,0,0,0,0
70523,3,2021,1,1,0,0,1,1,0,0,0,0,0,0
70524,3,2021,1,1,0,1,1,1,1,1,0,1,1,1
70525,3,2021,1,1,0,1,1,1,0,0,1,1,1,0
70526,3,2021,1,0,0,0,1,0,0,0,0,0,1,0

In [26]:
#
mes04 = SP21[SP21['month'] == 4]
#
mes04_ano21 = mes04[mes04['year'] == 2021]
#
mes04_ano21.to_csv("mes04_ano21.csv")

In [27]:
mes04_ano21

,month,year,fever,cough,throat,dyspnoea,respdesc,saturation,diarrhoea,vomit,abdpain,fatigue,lossm,losst
70527,4,2021,0,0,0,1,1,1,0,0,0,0,0,0
70528,4,2021,0,0,0,1,0,0,0,0,0,0,0,0
70529,4,2021,1,1,0,0,1,1,0,0,0,0,0,0
70530,4,2021,0,0,0,1,1,1,0,0,0,0,0,0
70531,4,2021,0,1,0,1,1,1,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96058,4,2021,1,1,1,0,1,0,0,0,0,0,0,0
96059,4,2021,1,1,0,1,1,1,0,0,0,0,0,0
96060,4,2021,1,0,0,0,0,0,0,0,0,0,1,1
96061,4,2021,0,0,0,1,0,0,0,0,0,0,0,0
96062,4,2021,0,0,0,1,0,0,0,0,0,0,0,0

In [23]:
#
mes05 = SP21[SP21['month'] == 5]
#
mes05_ano21 = mes05[mes05['year'] == 2021]
#
mes05_ano21.to_csv("mes05_ano21.csv")

In [24]:
#
mes06 = SP21[SP21['month'] == 6]
#
mes06_ano21 = mes06[mes06['year'] == 2021]
#
mes06_ano21.to_csv("mes06_ano21.csv")

In [25]:
#
mes07 = SP21[SP21['month'] == 7]
#
mes07_ano21 = mes07[mes07['year'] == 2021]
#
mes07_ano21.to_csv("mes07_ano21.csv")

In [26]:
#
mes08 = SP21[SP21['month'] == 8]
#
mes08_ano21 = mes08[mes08['year'] == 2021]
#
mes08_ano21.to_csv("mes08_ano21.csv")

In [27]:
#
mes09 = SP21[SP21['month'] == 9]
#
mes09_ano21 = mes09[mes09['year'] == 2021]
#
mes09_ano21.to_csv("mes09_ano21.csv")

In [28]:
#
mes10 = SP21[SP21['month'] == 10]
#
mes10_ano21 = mes10[mes10['year'] == 2021]
#
mes10_ano21.to_csv("mes10_ano21.csv")

In [29]:
#
mes11 = SP21[SP21['month'] == 11]
#
mes11_ano21 = mes11[mes11['year'] == 2021]
#
mes11_ano21.to_csv("mes11_ano21.csv")

In [30]:
#
mes12 = SP21[SP21['month'] == 12]
#
mes12_ano21 = mes12[mes12['year'] == 2021]
#
mes12_ano21.to_csv("mes12_ano21.csv")

In [31]:
#
mes0102 = [mes01_ano20, mes02_ano20]
#
mes0102_ano2020 = pd.concat(mes0102)
#mes0102_ano2020.to_csv("mes0102_ano2020.csv")

In [32]:
#
mes0203 = [mes02_ano20, mes03_ano20]
#
mes0203_ano2020 = pd.concat(mes0203)
#mes0203_ano2020.to_csv("mes0203_ano2020.csv")

In [33]:
#
mes0304 = [mes03_ano20, mes04_ano20]
#
mes0304_ano2020 = pd.concat(mes0304)
#mes0304_ano2020.to_csv("mes0304_ano2020.csv")

In [34]:
#
mes0405 = [mes04_ano20, mes05_ano20]
#
mes0405_ano2020 = pd.concat(mes0405)
#mes0405_ano2020.to_csv("mes0405_ano2020.csv")

In [35]:
#
mes0506 = [mes05_ano20, mes06_ano20]
#
mes0506_ano2020 = pd.concat(mes0506)
#mes0506_ano2020.to_csv("mes0506_ano2020.csv")

In [36]:
#
mes0607 = [mes06_ano20, mes07_ano20]
#
mes0607_ano2020 = pd.concat(mes0607)
#
mes0607_ano2020.to_csv("mes0607_ano2020sl.csv")

In [37]:
#
mes0708 = [mes07_ano20, mes08_ano20]
#
mes0708_ano2020 = pd.concat(mes0708)
#mes0708_ano2020.to_csv("mes0708_ano2020.csv")

In [38]:
#
mes0809 = [mes08_ano20, mes09_ano20]
#
mes0809_ano2020 = pd.concat(mes0809)
#mes0809_ano2020.to_csv("mes0809_ano2020.csv")

In [39]:
#
mes0910 = [mes09_ano20, mes10_ano20]
#
mes0910_ano2020 = pd.concat(mes0910)
#mes0910_ano2020.to_csv("mes0910_ano2020.csv")

In [40]:
#
mes1011 = [mes10_ano20, mes11_ano20]
#
mes1011_ano2020 = pd.concat(mes1011)
#mes1011_ano2020.to_csv("mes1011_ano2020.csv")

In [41]:
#
mes1112 = [mes11_ano20, mes12_ano20]
#
mes1112_ano2020 = pd.concat(mes1112)
#mes1112_ano2020.to_csv("mes1112_ano2020.csv")

In [42]:
#
mes1201 = [mes12_ano20, mes01_ano21]
#
mes1201_ano2021 = pd.concat(mes1201)
#mes1201_ano2021.to_csv("mes1201_ano2021.csv")

In [43]:
#2021

In [44]:
#
mes0102 = [mes01_ano21, mes02_ano21]
#
mes0102_ano2021 = pd.concat(mes0102)
#mes0102_ano2021.to_csv("mes0102_ano2021.csv")

In [45]:
#
mes0203 = [mes02_ano21, mes03_ano21]
#
mes0203_ano2021 = pd.concat(mes0203)
#mes0203_ano2021.to_csv("mes0203_ano2021.csv")

In [46]:
#
mes0304 = [mes03_ano21, mes04_ano21]
#
mes0304_ano2021 = pd.concat(mes0304)
#mes0304_ano2021.to_csv("mes0304_ano2021.csv")

In [47]:
#
mes0405 = [mes04_ano21, mes05_ano21]
#
mes0405_ano2021 = pd.concat(mes0405)
#mes0405_ano2021.to_csv("mes0405_ano2021.csv")

In [50]:
#
mes0506 = [mes05_ano21, mes06_ano21]
#
mes0506_ano2021 = pd.concat(mes0506)
#mes0506_ano2021.to_csv("mes0506_ano2021.csv")

In [51]:
#
mes0607 = [mes06_ano21, mes07_ano21]
#
mes0607_ano2021 = pd.concat(mes0607)
#
mes0607_ano2021.to_csv("mes0607_ano2021.csv")

In [52]:
#
mes0708 = [mes07_ano21, mes08_ano21]
#
mes0708_ano2021 = pd.concat(mes0708)
#mes0708_ano2021.to_csv("mes0708_ano2021.csv")

In [53]:
#
mes0809 = [mes08_ano21, mes09_ano21]
#
mes0809_ano2021 = pd.concat(mes0809)
#mes0809_ano2021.to_csv("mes0809_ano2021.csv")

In [54]:
#
mes0910 = [mes09_ano21, mes10_ano21]
#
mes0910_ano2021 = pd.concat(mes0910)
#mes0910_ano2021.to_csv("mes0910_ano2021.csv")

In [55]:
#
mes1011 = [mes10_ano21, mes11_ano21]
#
mes1011_ano2021 = pd.concat(mes1011)
#mes1011_ano2021.to_csv("mes1011_ano2021.csv")

In [56]:
#
mes1112 = [mes11_ano21, mes12_ano21]
#
mes1112_ano2021 = pd.concat(mes1112)
#mes1112_ano2021.to_csv("mes1112_ano2021.csv")