In [42]:
import pandas as pd
import numpy as np
import warnings
from difflib import get_close_matches
warnings.filterwarnings('ignore')

In [43]:
df20 = pd.read_csv('INFLUD20.csv', delimiter =';', low_memory=False, keep_default_na=False)

In [44]:
df21 = pd.read_csv('INFLUD21.csv', delimiter =';', low_memory=False, keep_default_na=False)

In [45]:
data20 = df20[ ['DT_NOTIFIC','SG_UF_NOT','FEBRE','TOSSE','GARGANTA','DISPNEIA','DESC_RESP','SATURACAO','DIARREIA','VOMITO',
                  'DOR_ABD','FADIGA','PERD_OLFT','PERD_PALA', 'CLASSI_FIN'] ]

In [46]:
data21 = df21[ ['DT_NOTIFIC','SG_UF_NOT','FEBRE','TOSSE','GARGANTA','DISPNEIA','DESC_RESP','SATURACAO','DIARREIA','VOMITO',
                  'DOR_ABD','FADIGA','PERD_OLFT','PERD_PALA', 'CLASSI_FIN'] ]

In [47]:
#data20

In [48]:
#data21

In [49]:
dfSP = data20['SG_UF_NOT']== 'SP'
df_SP20 = data20[dfSP]

In [50]:
df_SP20['DT_NOTIFIC'] = pd.to_datetime(df_SP20['DT_NOTIFIC'])
df_SP20_data = df_SP20.sort_values(by='DT_NOTIFIC')

In [51]:
df_SP20_data['year'] = df_SP20_data['DT_NOTIFIC'].dt.year
df_SP20_data['month'] = df_SP20_data['DT_NOTIFIC'].dt.month

In [52]:
df_SP20_data.drop(['DT_NOTIFIC'], axis=1, inplace=True)

In [53]:
df_SP20_data_final = df_SP20_data[['month','year','SG_UF_NOT','FEBRE','TOSSE','GARGANTA','DISPNEIA','DESC_RESP','SATURACAO','DIARREIA','VOMITO',
                  'DOR_ABD','FADIGA','PERD_OLFT','PERD_PALA','CLASSI_FIN']]

In [54]:
#2021

In [55]:
dfSP = data21['SG_UF_NOT']== 'SP'
df_SP21 = data21[dfSP]

In [56]:
df_SP21['DT_NOTIFIC'] = pd.to_datetime(df_SP21['DT_NOTIFIC'])
df_SP21_data = df_SP21.sort_values(by='DT_NOTIFIC')

In [57]:
df_SP21_data['year'] = df_SP21_data['DT_NOTIFIC'].dt.year
df_SP21_data['month'] = df_SP21_data['DT_NOTIFIC'].dt.month

In [58]:
df_SP21_data.drop(['DT_NOTIFIC'], axis=1, inplace=True)

In [59]:
df_SP21_data_final = df_SP21_data[['month','year','SG_UF_NOT','FEBRE','TOSSE','GARGANTA','DISPNEIA','DESC_RESP','SATURACAO','DIARREIA','VOMITO',
                  'DOR_ABD','FADIGA','PERD_OLFT','PERD_PALA','CLASSI_FIN']]

In [60]:
df_SP21_data_final

,month,year,SG_UF_NOT,FEBRE,TOSSE,GARGANTA,DISPNEIA,DESC_RESP,SATURACAO,DIARREIA,VOMITO,DOR_ABD,FADIGA,PERD_OLFT,PERD_PALA,CLASSI_FIN
618748,1,2021,SP,2,1,2,1,1,2,2,2,2,1,2,2,5
1046464,1,2021,SP,1,2,2,1,2,1,2,9,2,1,2,2,4
1042096,1,2021,SP,1,1,1,1,1,1,2,2,2,2,2,2,5
13387,1,2021,SP,1,1,2,1,1,1,2,2,2,1,2,2,5
1042099,1,2021,SP,1,2,2,2,1,2,1,2,2,2,2,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
690782,7,2023,SP,1,1,2,1,1,1,2,2,2,2,2,2,5
942913,8,2023,SP,2,1,2,1,1,1,2,2,2,1,2,2,5
581039,8,2023,SP,2,2,2,1,1,1,2,2,2,2,2,2,5
823930,8,2023,SP,1,2,2,1,1,1,2,2,2,2,2,2,5
793686,12,2023,SP,,1,,1,,,,,,,,,2

In [61]:
SP20 = df_SP20_data_final

In [62]:
SP21 = df_SP21_data_final

In [63]:
SP20.drop(SP20.loc[SP20['year'] == 2019].index, inplace=True)

In [64]:
SP20.drop(SP20.loc[SP20['year'] == 2021].index, inplace=True)

In [65]:
SP20.drop(SP20.loc[SP20['year'] == 2022].index, inplace=True)

In [66]:
SP21.drop(SP21.loc[SP21['year'] == 2019].index, inplace=True)

In [67]:
SP21.drop(SP21.loc[SP21['year'] == 2020].index, inplace=True)

In [68]:
SP21.drop(SP21.loc[SP21['year'] == 2022].index, inplace=True)

In [69]:
SP20 = SP20.replace('9', '0')

In [70]:
SP20 = SP20.replace('2', '0')

In [71]:
SP20 = SP20.replace('', '0')

In [72]:
SP21 = SP21.replace('9', '0')

In [73]:
SP21 = SP21.replace('2', '0')

In [74]:
SP21 = SP21.replace('', '0')

In [75]:
SP20['CLASSI_FIN'] = SP20['CLASSI_FIN'].replace('5', '1')

In [76]:
SP20['CLASSI_FIN'] = SP20['CLASSI_FIN'].replace('4', '0')

In [77]:
SP21['CLASSI_FIN'] = SP21['CLASSI_FIN'].replace('5', '1')

In [78]:
SP21['CLASSI_FIN'] = SP21['CLASSI_FIN'].replace('4', '0')

In [79]:
SP20.drop(SP20.loc[SP20['CLASSI_FIN'] == '0'].index, inplace=True)

In [80]:
SP21.drop(SP21.loc[SP21['CLASSI_FIN'] == '0'].index, inplace=True)

In [81]:
SP20.to_csv("SP20.csv", index=False)

In [82]:
SP21.to_csv("SP21.csv", index=False)